In [ ]:
# problem-01 [counting frequencies of character]
from collections import*

print("enter your data")
a= input("")

x= Counter(a)

print("count of all character in string \n", x)

enter your data
WM-ASDS
count of all character in string
 Counter({'S': 2, 'W': 1, 'M': 1, '-': 1, 'A': 1, 'D': 1})

In [ ]:
#problem-02 [checking existense of key in dictionary ]
def keycheck(D,K):
    if K in D:
        print("Existing")
        print("value=", D[K])
    else:
        print("Doesnt exist")

# sample dictionary
D={'a':15, 'b':32, 'c':94, 'd':59}

K='c'
keycheck(D,K)

K='f'
keycheck(D,K)

Existing
value= 94
Doesnt exist

In [ ]:
#problem-03 [acceptance of comma separated number and creating list or tuples with them]
a = input("Write down desired comma separated numbers : ")
b = a.split(",")
c = tuple(b)
print('List : ', b)
print('Tuple : ', c)

Write down desired comma separated numbers : 9,0,5,7,6
List :  ['9', '0', '5', '7', '6']
Tuple :  ('9', '0', '5', '7', '6')

In [6]:
#problem-04 [Difference between two dates]

from datetime import*

start= date(2023,3,31)
end= date(2023,3,1)
diff= start-end

print('Your starting date is:', start)
print('Ending date is:', end)
print('The difference between given dates is:', diff)

Your starting date is: 2023-03-31
Ending date is: 2023-03-01
The difference between given dates is: 30 days, 0:00:00

In [ ]:
#problem-05 [python program for equation]
def equation(x,y):
    x= a
    y= b
    z=(x+y)**2
    print("The end value is:",z)


a= int(input("the value of x:"))
b= int(input("the value of y:"))

equation(a,b)

the value of x:10
the value of y:24
The end value is: 1156

In [ ]:
#problem-06 [python program for Future Value]
def FV(p,i,n):
    p=a
    i=b/100
    n=c
    x=(1+i)**n
    fv=p*x

    print("The future value is:", fv)

a= int(input("Enter principal amount:"))
b= int(input("Enter annual interest in percentage:"))
c= int(input("Enter required period in year:"))

FV(a,b,c)

Enter principal amount:120000
Enter annual interest in percentage:9
Enter required period in year:5
The future value is: 184634.87458800006

In [3]:
#problem-07 [Detecting recurring elements]
from collections import*

y=[1,1,2,3,2,3,2,1,1,4,5,6,7,8,9,0,5,6,4,3,7,0]

print(y)

z= Counter(y)

a=list(z.keys())

b= len(a)

print("List of unique is:", a)
print("length of unique is:", b)

[1, 1, 2, 3, 2, 3, 2, 1, 1, 4, 5, 6, 7, 8, 9, 0, 5, 6, 4, 3, 7, 0]
List of unique is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
length of unique is: 10

In [1]:
#problem-08 [Sorting in ascending & descending order a dictionary by its key value]
md= {'Arsenal':12, 'ManU':24, 'ManC':23, 'Liverpool':28, 'AstonV':10, 'Tottenham':13}
print(md)

ascending_md= dict(sorted(md.items()))
print("ascending order", ascending_md)

descending_md= dict(sorted(md.items(), reverse= True))
print("descending order", descending_md)

{'Arsenal': 12, 'ManU': 24, 'ManC': 23, 'Liverpool': 28, 'AstonV': 10, 'Tottenham': 13}
ascending order {'Arsenal': 12, 'AstonV': 10, 'Liverpool': 28, 'ManC': 23, 'ManU': 24, 'Tottenham': 13}
descending order {'Tottenham': 13, 'ManU': 24, 'ManC': 23, 'Liverpool': 28, 'AstonV': 10, 'Arsenal': 12}

In [7]:
#problem-09 [Add a key in existing dictionary]
md= {'Arsenal':12, 'ManU':24, 'ManC':23, 'Liverpool':28, 'AstonV':10, 'Tottenham':13}
print(md)

md.update({'Chelsea': '20'})
print("New dictionary adding 01 club:", md)

md2 = {'Westham': 15, 'Fulham': 8}
md.update(md2)
print("New dictionary adding new dictionary:", md)

{'Arsenal': 12, 'ManU': 24, 'ManC': 23, 'Liverpool': 28, 'AstonV': 10, 'Tottenham': 13}
New dictionary adding 01 club: {'Arsenal': 12, 'ManU': 24, 'ManC': 23, 'Liverpool': 28, 'AstonV': 10, 'Tottenham': 13, 'Chelsea': '20'}
New dictionary adding new dictionary: {'Arsenal': 12, 'ManU': 24, 'ManC': 23, 'Liverpool': 28, 'AstonV': 10, 'Tottenham': 13, 'Chelsea': '20', 'Westham': 15, 'Fulham': 8}

In [8]:
#problem-10 [Creating a Dataframe using Pandas]
import pandas as pd

df=pd.DataFrame(
        {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
         'score': [12.5, 9, 16.5, 0, 9, 20, 14.5, 0, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},
        columns= ['name', 'score', 'attempts', 'qualify'],
        index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        )

print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    0.0         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    0.0         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes